<html>
<head>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <script src="/static/jquery.sparkline.min.js"></script>
  <script type="text/javascript">
    var refresh_freq_msecs = 1000;
    var refresh_enabled = true;

    function GetData() {
      if (refresh_enabled) {
        jQuery.get("/data", ParseAndShowData, "json")
              .fail(ShowDataFailure)
      } else {
        ScheduleGetData();
      }
    }

    function ParseAndShowData(data, textStatus, jqXHR) {
      var start = $.now()

      // Show num_seasons speed sparkline
      ShowVelocity(data['Num_seasons'])

      // Show top players
      ShowTopPlayers(data['Top_players'], data['Teams'])

      // Show teams and keepers
      ShowTeams(data['Teams'])

      console.debug("ParseAndShowData: " + ($.now() - start) + " ms");

      ScheduleGetData();
    }

    var recent_velocity = [0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0]
    var last_num_seasons = 0
    function ShowVelocity(num_seasons) {
      var velocity = num_seasons - last_num_seasons
      last_num_seasons = num_seasons
      recent_velocity.push(velocity)
      recent_velocity.shift()
      $('#velocity').html(velocity)
      $('#velocity-sparkline').sparkline(recent_velocity);
    }

    function ShowTopPlayers(top_players, teams) {
      // Remove rows from the bottom if there are too many
      while ($('#players tr').length > top_players.length) {
        $('#players tr').eq(top_players.length).remove()
      }

      for (var i = 0; i < top_players.length; i++) {
        var player = top_players[i]
        var row = $('#players tr').eq(i)

        if (row.length == 0) {
          // More rows than before -- must create a new one
          row = $('<tr></tr>')
          row.append($('<td></td>').append(i+1) )
          row.append($('<td></td>'))  // name + pos
          row.append($('<td></td>'))  // wins
          for (var t = 0; t < teams.length; t++) {
            var radio = $('<input type="radio"/>')
            row.append($('<td></td>').append(radio))
          }
          row.appendTo('#players')
        }

        row.children().eq(1)
            .text(player['Firstname'] + ' ' + player['Lastname'])
            .append($('<small></small>').append(player['Positions'].join('/')))

        if (player['Total_wins'] > 0) {
          var wins_per_season = player['Total_wins'] / player['Num_seasons']
          row.children().eq(2).text(wins_per_season.toFixed(2))
        } else {
          row.children().eq(2).text('-')
        }

        for (var t = 0; t < teams.length; t++) {
          var radio = row.children().eq(t+3).children('input')
          radio.attr('name', player['ID'])
               .val(t)
               .change(DisableRefresh)
        }
      }
    }

    function ShowTeams(teams) {
      $('#teams *').remove()

      for (var i = 0; i < teams.length; i++) {
        var team = teams[i]

        var teamheader = $('<h2></h2>').html(team['Name'])
        teamheader.appendTo('#teams')

        // Show the keepers on the roster
        var roster = $('<ul></ul>')
        for (var pos in team['Roster']) {
          for (var j = 0; j < team['Roster'][pos].length; j++) {
            if (team['Roster'][pos][j]['Keeper']) {
              var player = team['Roster'][pos][j]['Player']
              roster.append(
                $('<li></li>')
                    .html(player['Firstname'] + ' ' + player['Lastname'])
                    .append(
                        $('<small></small>').append(
                            player['Positions'].join('/')))
              )
            }
          }
        }
        if (roster.html() == "") {
          roster.append($('<li><i>No roster yet</i></li>'))
        }
        roster.appendTo('#teams')
      }
    }

    function ShowDataFailure(jqXHR, textStatus, errorThrown) {
      // TODO: Show failure message

      // TODO: Back off
      ScheduleGetData();
    }

    function ScheduleGetData() {
      setTimeout(GetData, refresh_freq_msecs)
    }

    function DisableRefresh(eventobject) {
      // Show submit and reset buttons
      $(".form-submit").css('visibility', 'visible');
      $(".form-reset").css('visibility', 'visible');

      refresh_enabled = false;
    }

    function EnableRefresh(eventobject) {
      // Hide submit and reset buttons
      $(".form-submit").css('visibility', 'hidden');
      $(".form-reset").css('visibility', 'hidden');

      refresh_enabled = true;
    }

    function SubmitForm(eventobject) {
      $.ajax({
          type: "POST",
          url: "/add",
          data: $("#drafting-form").serialize(),
          success: function(data) {
              $(".form-reset").eq(0).click();
          }
      });

      return false;
    }

    $(document).ready(function() {
      $(".form-reset").click(EnableRefresh);
      $(".form-submit").click(SubmitForm);

      EnableRefresh();

      GetData();
    })
  </script>

  <style type="text/css">
    body {
      margin: 0;
    }
    h1 {
      margin: 0;
      padding: 10px;
      background: yellow;
    }

    #sidebar {
      width: 350px;
      float: left;
      padding: 10px;
      background: #ddd;
    }

    #players {
      margin: 10px 0 0 380px;
      border: solid 2px black;
      border-collapse: collapse;
    }
    #players td {
      border: solid 1px #666;
      padding: 2px 4px;
    }
    #players small {
      padding-left: 8px;
      color: #666;
    }

    .form-submit {
      font-weight: bold;
      background: #cfc;
    }
    .form-reset {
      background: #fcc;
    }

    #teams {
      font-size: 80%;
    }
    #teams h2 {
      font-size: 120%;
      margin-bottom: 2px;
    }
    #teams ul {
      margin: 0 0 0 10px;
      padding-left: 10px;
    }
    #teams small {
      padding-left: 8px;
      color: #666;
    }
  </style>

  <title>fbtron</title>
</head>
<body>
<h1>fbtron</h1>

<div id="sidebar">
  Velocity: <span id="velocity-sparkline"></span>
    <b><span id="velocity"></span> seasons/sec</b>

  <div id="teams">
  </div>
</div>

<form id="drafting-form">
  <button type="reset" class="form-reset">Reset</button>
  <button type="submit" class="form-submit">Submit</button>

  <table id="players">
  </table>

  <button type="reset" class="form-reset">Reset</button>
  <button type="submit" class="form-submit">Submit</button>
</form>

</body>
</html>
