<html>
<head>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <script src="/static/jquery.sparkline.min.js"></script>
  <script type="text/javascript">
    var recent_velocity = [0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0]
    var last_num_seasons = 0

    function GetData() {
      // TODO: If the form is partially filled out, don't do anything.

      jQuery.get("/data", ParseAndShowData, "json")
            .fail(ShowDataFailure)
    }

    function ParseAndShowData(data, textStatus, jqXHR) {
      // Show num_seasons speed sparkline
      var velocity = data['Num_seasons'] - last_num_seasons
      last_num_seasons = data['Num_seasons']
      recent_velocity.push(velocity)
      recent_velocity.shift()
      $('#velocity').html(velocity)
      $('#velocity-sparkline').sparkline(recent_velocity);

      // Show top players
      $('#players tr').remove()
      for (var i=0; i<data['Top_players'].length; i++) {
        var player = data['Top_players'][i]
        var newrow = $('<tr></tr>')
        newrow.append($('<td></td>').append(i+1) )
        newrow.append($('<td></td>').append(
            player['Firstname'] + ' ' + player['Lastname']))
        if (player['Total_wins'] > 0) {
          var wins_per_season = player['Total_wins'] / player['Num_seasons']
          newrow.append($('<td></td>').append(wins_per_season.toFixed(2)))
        } else {
          newrow.append($('<td>-</td>'))
        }
        // TODO: Form for drafting keepers
        newrow.appendTo('#players')
      }

      // TODO: Show teams' current keepers

      setTimeout(GetData, 3000)
    }

    function ShowDataFailure(jqXHR, textStatus, errorThrown) {
      // TODO: Show failure message

      // TODO: Back off
      setTimeout(GetData, 3000)
    }

    $(document).ready(function() {
      GetData();
    })
  </script>

  <style type="text/css">
    body {
      margin: 0;
    }
    h1 {
      margin: 0;
      padding: 10px;
      background: yellow;
    }

    #sidebar {
      width: 350px;
      float: left;
      padding: 10px;
      background: #ddd;
    }

    #players {
      margin: 10px 0 0 380px;
      border: solid 2px black;
      border-collapse: collapse;
    }
    #players td {
      border: solid 1px #666;
      padding: 2px 4px;
    }
  </style>

  <title>fbtron</title>
</head>
<body>
<h1>fbtron</h1>

<div id="sidebar">
  Velocity: <span id="velocity-sparkline"></span>
    <b><span id="velocity"></span> seasons/sec</b>

  <div id="teams">
  </div>
</div>

<table id="players">
</table>

</body>
</html>
